body,ul{
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
}
nav{
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #8a8a8a;
	z-index: 1;
}
.menu{
	color: #fff;
	padding-left: 35px;
	padding-top: 44px;
	padding-bottom: 15px;
}

li:first-child{background-image: url(../icons/edit.png);}
li:nth-child(2){background-image: url(../icons/favorites.png);}
li:nth-child(3){background-image: url(../icons/history.png);}
li:nth-child(4){background-image: url(../icons/security.png);}
li:last-child{background-image: url(../icons/settings.png);}



li{
	background-size: 80px;
	background-position: 17px 10px;
	background-repeat: no-repeat;
}
li a{
	width: 100px;
	display: block;
	color: #fff;
	text-decoration: none;
}
li a p{
	padding: 36px 105px;
	visibility: hidden;
}
nav:hover li a{
	width: 300px;
}
nav:hover li a p{
	visibility: visible;

}
nav:hover li:hover{
	background-color: #696969;
}
main{
	width: 80%;
	position: relative;
	left: 200px;
	padding-top: 30px;

}
main h1{
	font-size: 28px;
	color:#000000 ;
}
main p{
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.2;
	color: #7b7583;
}